
@{
    ViewBag.Title = "Create";
}

<div class="side-container">
    <div class="side-planner">
        <div class="side-plan">
            <span class="material-symbols-outlined">
                today
            </span>
            <p>Projects</p>
        </div>
        <div class="side-plan">
            <span class="material-symbols-outlined">
                calendar_month
            </span>
            <p>Tickets</p>
        </div>
        <div class="side-plan">
            <span class="material-symbols-outlined">
                checklist
            </span>
            <p>Role Management</p>
        </div>
    </div>
</div>
<div class="add-new-project">
    <h2>Add New Project</h2>
    <form class="add-project-form">
        <input type="text" placeholder="Title" />
        <input type="date" placeholder="Date" />
        <textarea placeholder="Description"></textarea>
        <button type="submit">Add Project</button>
    </form>
</div>

