body  
{  
    margin: 0;  
    padding: 0;  
    background-color: white;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: grey;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: black;  
    padding: 20px;  
}  
label{  
    color: black;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: black;  
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right; 
    color: grey 
}  
* {
    font-family: 'Jost', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: auto;
    min-height: 100%;
}


header {
    background-color: white;
    border-bottom: 1px solid grey;
}

main {
    display: flex;
    flex-direction: row;
}

h2 {
    font-family: 'Jost', sans-serif;
}

.navbar {
   display: flex;
   flex-direction: row;
   align-content: center;
   justify-content: space-between;
   max-width: 1200px;
   margin: auto;
}

.ppic{
    width: 40px;
    height: 40px;
}

.right {
    color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right p {
    display: flex;
    align-items: center;
}

.right a {
    color: grey;
    text-decoration: none;
    padding: 8px;
}

.right img {
    padding: 8px;
}

.left {
    display: flex;
    align-items: center;
}

.material-symbols-outlined {
    color: grey;
}

.side-container {
    width: 200px;
    height: 750px;
    border-right: 1px solid grey;
    color: grey;
    font-weight: 200;
}

.side-projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side-plan {
    display: flex;
    align-items: center;
    border-bottom: 0.15px solid grey;
}

.side-plan p{
    margin-left: 5px;
}

.main-container {
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding-left: 0;
}

.ticket {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid grey;
}

.date {
    font-size: 11px;
    color: grey;
}

.ticket-description {
    font-size: 13px;
}

.ticket-right {
    margin-left: 10px;
    display: block;
    text-align: left;
}

.add-ticket {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.icons {
    display: block;
}

.add-ticket .material-symbols-outlined {
    padding-right: 10px;
}

.add-new-project {
    margin: 0 auto;
    margin-top: 40px;
    width: 700px;
    height: 500px;
    background-color: rgb(211, 211, 214);
}

.add-project-form {
    display: flex;
    margin: 20px;
    justify-self: space-around;
    flex-direction: column;
}

.add-project-form input {
    margin-bottom: 10px;
    padding: 15px;
}

.add-new-project textarea {
    padding: 50px;
}

.add-new-project h2 {
    font-weight: 400;
}

.add-new-project button {
    color: white;
    background: black;
    width: 200px;
    padding: 15px;
    margin: auto;
    margin-top: 10px;
}